Repository CoteriePH/rdi-payroll-system, pull requests merged in 2021-11, with the labels that each got.

#190 Request Page Functionality
  frontend/src/components/Dropdown/index.jsx
  frontend/src/components/Dropdown/styles.js
  frontend/src/containers/Request/index.jsx
  frontend/src/containers/Request/styles.js
  frontend/src/features/request/requestSlice.js
  frontend/src/store.js
Labels: enhancement, Frontend

#193 [HOTFIX] Logout with redux persist
  backend/src/controllers/auth.controller.js
  backend/src/controllers/employee.controller.js
  backend/src/models/employee.model.js
  backend/src/models/index.js
  backend/src/routes/auth.routes.js
  backend/src/seeders/20211022020777-insert-employee.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Button/styles.js
  frontend/src/components/Dropdown/index.jsx
  frontend/src/components/Dropdown/styles.js
  frontend/src/components/FileInput/index.jsx
  frontend/src/components/FileInput/styles.js
  frontend/src/components/InputField/index.jsx
  frontend/src/components/InputField/styles.js
  frontend/src/components/Modals/AddEmployee/index.jsx
  frontend/src/components/Modals/AddEmployee/styles.js
  frontend/src/components/PhotoInput/index.jsx
  frontend/src/components/PhotoInput/styles.js
  frontend/src/components/RadioInput/index.jsx
  frontend/src/components/RadioInput/styles.js
  frontend/src/components/SelectField/index.jsx
  frontend/src/components/SelectField/styles.js
  frontend/src/containers/Request/index.jsx
  frontend/src/containers/Request/styles.js
  frontend/src/features/auth/authSlice.js
  frontend/src/features/request/requestSlice.js
  frontend/src/index.js
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Login/index.jsx
  frontend/src/routes/PrivateRoute.js
  frontend/src/routes/PublicRoute.js
  frontend/src/store.js
  frontend/src/styles/index.js
Labels: enhancement, Frontend, Backend

#197 Feat/tbl cash advance
  backend/src/controllers/cash_advance.controller.js
  backend/src/helpers/currency.helper.js
  backend/src/helpers/date.helper.js
  backend/src/index.js
  backend/src/models/cash_advance.model.js
  backend/src/models/index.js
  backend/src/routes/cash_advance.routes.js
Labels: Backend

#218 Feat/Processed CAs
  backend/src/controllers/cash_advance.controller.js
  frontend/src/components/Header/index.jsx
  frontend/src/components/Header/styles.js
  frontend/src/components/Link/index.jsx
  frontend/src/containers/ProcessedCA/index.jsx
  frontend/src/containers/ProcessedCA/styles.js
  frontend/src/containers/UnprocessedCA/index.jsx
  frontend/src/containers/UnprocessedCA/styles.js
  frontend/src/features/cash_advance/cashAdvanceSlice.js
  frontend/src/helpers/colorPicker.js
  frontend/src/pages/Home/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/theme.js
Labels: Frontend, new feature

#229 Listgrid button
  frontend/package-lock.json
  frontend/src/components/View/LGButtons/index.jsx
  frontend/src/components/View/LGButtons/styles.js
  frontend/src/containers/EmployeeFile/index.jsx
Labels: Frontend, Component

#228 UI/payslip icon
  frontend/package-lock.json
  frontend/src/components/View/PayslipIcon/index.jsx
  frontend/src/components/View/PayslipIcon/styles.js
Labels: Frontend, Component

#233 DONE PAYROLL FRAME Aud/payroll frame
  frontend/src/components/Button/styles.js
  frontend/src/components/Header/index.jsx
  frontend/src/components/Header/styles.js
  frontend/src/components/View/FolderIcon/index.jsx
  frontend/src/containers/Attendance/styles.js
  frontend/src/containers/EmployeeFile/auditor/index.jsx
  frontend/src/containers/EmployeeFile/auditor/styles.js
  frontend/src/containers/Payroll/index.jsx
  frontend/src/containers/Payroll/view/index.jsx
  frontend/src/containers/Payroll/view/styles.js
  frontend/src/containers/Reports/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/routes/index.jsx
  frontend/src/store.js
Labels: Frontend, Auditor side
